.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  z-index: 10;
  background: rgba(0,0,0,.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay img {
    display: block;
    width: 100vw;
    height: 100vh;
}
